<% content_for :title,"Рекомендации по покупке автомобиля - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Рекомендации по покупке подержанного автомобиля</h2>
    </div>
        <p class="lead">Покупка подержанного автомобиля может быть самым быстрым, простым и дешевым способом приобрести идеальный автомобиль. Мы покажем Вам, как купить лучший подержанный автомобиль, прилагая минимальные усилия. 
</p>
<p><%= link_to 'Объявления о продаже подержанных автомобилей', new_search_path(:search=>"all"),:method=>:post %></p>
        <h3>Определение бюджета</h3>
    <p>Перед тем, как решить, какой автомобиль купить, Вы должны выяснить, сколько денег придётся потратить.</p>
    <ul>
<li>Узнайте, сколько стоит Ваш имеющийся автомобиль и намерены ли вы продать его частному лицу или через автодилера </li>
<li>Решите, будете ли Вы заключать договор лизинга автомобиля</li>
<li>Посчитайте расходы на топливо, страхование и всевозможные затраты, связанные с содержанием автомобиля
</li>
</ul>
<h3>Выбор правильного автомобиля</h3>
<p>Столкнувшись с более широким выбором, чем когда-либо прежде, поиск Вашего идеального автомобиля может стать очень утомительным процессом. Потратьте немного времени на то, чтобы выяснить, чего Вы ждёте от своего автомобиля. Примите во внимание следующее:</p>
<ul>
<li>Для чего Вам нужен автомобиль?</li>
<li>Сколько пассажиров Вы регулярно перевозите?</li>
<li>Сколько стоит топливо, страховка, техническое обслуживание и ремонт?</li>
<li>Езда на короткие расстояния или длительные поездки?</li>
<li>Нужно ли Вам много места для багажа?</li>
<li>Будет ли автомобиль использоваться для конкретной задачи, например, буксировки?</li>
</ul>
<h3>Контакт с продавцом</h3>
<p>Ваш первый контакт с продавцом автомобиля может выявить много ценной информации, поэтому важно задавать правильные вопросы.</p>
<ul>
	<li>Досконально спрашивайте про прошлое автомобиля и его состояние</li>
<li>При покупке у частного лица, организуйте встречу у его дома. Если Вы хотите купить автомобиль у автодилера, договаритесь о встрече на его территории.
</li>
<li>Осматривайте автомобиль всегда при дневном свете и желательно в сухую погоду, чтобы  легче обнаружить всевозможные повреждения.
</li>
</ul>
<h3>Осмотр автомобиля</h3>
<p>Вы не должны быть автомехаником для осмотра подержанного автомобиля, но существуют некоторые золотые правила.</p>
<ul>
<li>Выясните, связан ли автомобиль с какими-либо неуплатами, был ли он украден или списан.
</li>
<li>Проверьте документы (свидетельство о регистрации и книгу технического обслуживания), чтобы узнать реальный пробег автомобиля.
</li>
<li>Проверьте у переднего стекла, под капотом или рядом с водительским сиденьем наличие заводского кода (VIN-кода), признаки фальсификации, и убедитесь, что он соответствует коду, указанном в свидетельстве о регистрации. 
</li>
<li>Проверьте на наличие ржавых мест, царапин, вмятин, краски с другим оттенком и неровных промежутков между деталями кузова.
</li>
<li>Убедитесь, что всё оборудование автомобиля работает.
</li>
<li>Прочитав ключевые документы, в том числе свидетельство о регистрации и книгу технического обслуживания, затем осмотрев ключевые части автомобиля, Вы сможете быстро определить, соответствует ли он описанию в объявлении. 
</li>
</ul>
<h3>Тест-драйв автомобиля</h3>
<p>Тест-драйв - это хорошая возможность оценить каждый аспект автомобиля, как он чувствует себя на дороге и нормально ли работает оборудование.</p>
<ul>
	<li>Берите всегда минимум 15-минутный тест-драйв, а также пробуйте езду на различных типах дорог.
</li>
<li>Обеспечьте себе соответствующую страховую защиту перед тем, как берёте тест-драйв.
</li>
<li>Заводите автомобиль, когда двигатель холодный и убедитесь, что нет чрезмерного дыма или необычного шума.
</li>
<li>Проверьте переключение передач, тормоза, рулевое управление и подвеску, чтобы всё работало без необычного шума и вибрации. 
</li>
</ul>
<h3>Торг с продавцом автомобиля</h3>
<p>Обычно покупатели делают ценовое предложение на автомобиль, который они хотят купить, так что не бойтесь торговаться по цене. 
</p>
<ul>
<li>Знайте, какой цене соответствует автомобиль и сколько Вы готовы заплатить.
</li>
<li>Начинайте торги с более-менее низкой цены и пусть продавец торгуется вверх.
</li>
<li>Топливный бак или техобслуживание может быть хорошим инструментом для переговоров.
</li>
<li>Демонстрируйте приверженность к сделке, сохраняйте спокойствие и не порождайте конфронтацию.
</li>
<li>Если Вы не можете прийти к соглашению, то имейте в виду, что есть также много других автомобилей.  
</li>
</ul>
<h3>Оформление документов</h3>
<p>Документы на автомобиль имеют очень важное значение и предоставляют информацию об истории автомобиля и правах собственности, так что Вы должны тщательно их проверять.  </p>
<ul>
<li>Убедитесь в том, что все документы подлинные - копии документов и распечатанные материалы могут быть подделаны.
</li>
<li>Убедитесь, что VIN-код, записанный в свидетельстве о регистрации соответствует отмеченному на автомобиле, а также адрес и информация о владельце автомобиля соответствует его продавцу.
</li>
<li>Изучите историю обслуживания, чтобы убедиться, соответствует ли записанный пробег автомобиля реальному пробегу на счетчике, а также регулярно ли было проведено техническое обслуживание. 
</li>
<li>Заключайте всегда договор купли-продажи письменно и в двух экземплярах.
</li>
</ul>

<p>Подробнее о покупке подержанного автомобиля Вы можете почитать в <a href="http://www.tarbijakaitseamet.ee/sites/default/files/tarbijale/nouanded_kasutatud_soiduki_ostjale.pdf", target="_blank">руководстве</a>, написанном в сотрудничестве налогово-таможенного департамента с департаментами шоссейных дорог и защиты прав потребителей.</p>
<p><a href="https://pokupaisumom.ee/poderzhannyj-avtomobil/",target="_blank"> Покупайте подержанный автомобиль с умом</a></p>
<p><a href="https://www.mnt.ee/sites/default/files/content-editors/Failid/blanketid/myygileping_2.doc" target="_blank">Пример договора купли-продажи</a></p>
  </div>
</div>