<% content_for :title,"Auto ostuabi - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Nõuanded kasutatud auto ostmiseks</h2>
    </div>
        <p class="lead">Kasutatud auto ostmine võib olla kiireim, lihtsaim ja odavaim viis saada endale ideaalne auto. Me näitame Teile, kuidas osta vähima vaevaga parim kasutatud auto. 
</p>
<p><%= link_to 'Kasutatud autode kuulutused', new_search_path(:search=>"all"),:method=>:post %></p>
        <h3>Eelarve kindlaksmääramine</h3>
    <p>Enne kui otsustate, millist autot osta, tuleb Teil välja selgitada, kui palju raha Teil on kulutada. </p>
    <ul>
<li>Selgitage välja, kui palju Teie praegune auto väärt on ja kas kavatsete müüa seda eraisikuna või vahetuslepinguga vahendaja kaudu</li>
<li>Otsustage, kas Teil on vaja auto liisida</li>
<li>Arvutage, kui suured oleksid Teie kütuse-, kindlustuse ja muud autoga seotud kulud 
</li>
</ul>
<h3>Õige auto valimine</h3>
<p>Seistes silmitsi laiema valikuga kui kunagi varem, võib ideaalse auto valimine kurnav protsess olla. Veenduge, et kulutate veidi aega sellele, et selgitada välja, mida Teie oma autolt ootate. Mõelge järgnevale:</p>
<ul>
<li>Milleks Te autot kasutate</li>
<li>Kui palju kaasreisijaid Te regulaarselt sõidutate</li>
<li>Kui palju maksab kütus, kindlustus, hooldus ja remont</li>
<li>Kas teete lühikesi otsi või pikki teekondi?</li>
<li>Kas Teil on vaja palju pagasit mahutada?</li>
<li>Kas seda on vaja mingi spetsiifilise ülesande täitmiseks, nagu pukseerimine?</li>
</ul>
<h3>Müüjaga kontakteerumine</h3>
<p>Teie esimene kokkupuude müüjaga võib paljastada auto kohta palju väärtuslikku teavet, mistõttu on oluline küsida õigeid küsimusi.</p>
<ul>
	<li>Küsige auto, selle mineviku ja seisundi kohta põhjalikke küsimusi</li>
<li>Eraisikuna korraldage kohtumine müüja juures, vahendajate kasutamisel nende ruumides
</li>
<li>Minge autot vaatama alati päevavalguses ja soovitavalt kuiva ilmaga, sest siis on lihtsam kahjustusi märgata
</li>
</ul>
<h3>Kasutatud auto ülevaatamine</h3>
<p>Te ei pea kasutatud auto ülevaatamiseks automehhaanik olema, kuid on mõned kuldreeglid.</p>
<ul>
<li>Tellige sõiduki taustakontroll, et teha kindlaks, kas autoga on seotud mingeid võlgnevusi, ega see ei ole varastatud või maha kantud.
</li>
<li>Uurige autodokumente – registreerimistunnistust ja hooldusraamatut – et näha, kas auto läbisõidunäidikut on keritud.
</li>
<li>Kontrollige esiklaasi tagant, kapoti alt ja juhiistme kõrval vaiba all olevalt raamilt auto tehasetähist (VIN-koodi), et leida rikkumise märke ja veenduge, et need vastavad registreerimistunnistusel olevale VIN-koodile.
</li>
<li>Otsige keredetailide vahelt roostet, teist tooni värvi ja ebaühtlaseid laike. 
</li>
<li>Veenduge, et kõik auto funktsioonid töötavad.
</li>
<li>Lugedes põhidokumente, kaasa arvatud registreerimistunnistust ja hooldusraamatut, ning kontrollides seejärel ümber auto põhipunkte, saate kiiresti hinnata, kas vaadeldav sõiduk vastab kuulutuses kirjeldatule.
</li>
</ul>
<h3>Autoga proovisõidu tegemine</h3>
<p>Proovisõit on Teie võimalus hinnata auto igat aspekti alates sellest, kuidas ta teel tundub kuni selleni, kas kogu varustus töötab korralikult.</p>
<ul>
	<li>Tehke alati vähemalt 15-minuti pikkune proovisõit ning seda erinevat liiki teedel.
</li>
<li>Valige enne autoga sõitmist sobiv kindlustuskaitse.
</li>
<li>Käivitage auto siis, kui mootor on külm ja kontrollige, et ei oleks liigset suitsu või ebatavalist müra.
</li>
<li>Kontrollige käike, pidureid, rooli ja vedrustust, et need töötaks nii nagu peab, ilma ebatavalise müra ja vibreerimiseta.
</li>
</ul>
<h3>Müüjatega kauplemine</h3>
<p>On tavaline, et ostjad teevad hinnapakkumise autole, mida nad soovivad osta, seega ärge kartke hinna üle kaubelda.
</p>
<ul>
<li>Teadke, kui palju auto väärt on ja kui palju te olete nõus maksma. 
</li>
<li>Alustage oma pakkumist madalalt ja laske müüjal hinda ülespoole kaubelda. 
</li>
<li>Kütusepaak või hooldus võivad olla heaks läbirääkimisvahendiks.
</li>
<li>Näidake üles tehingule pühendumist, jääge rahulikuks ja ärge tekitage vastasseisu. 
</li>
<li>Kui te ei jõua kokkuleppele, siis pidage meeles, et saadaval on ka palju teisi autosid. 
</li>
</ul>
<h3>Paberimajandus</h3>
<p>Auto paberimajandus on väga oluline ja annab teavet auto ajaloo ja omandisuhte kohta, seega peaksite seda põhjalikult kontrollima. </p>
<ul>
<li>Kontrollige, et kõik dokumendid tunduksid ehtsad – koopiad ja väljaprinditud materjalid võivad olla võltsitud.
</li>
<li>Veenduge, et registreerimistunnistusele märgitud tehasetähis (VIN-kood) vastab autos olevale ning et aadress ja salvestatud info omaniku kohta vastab autot müüvale isikule.
</li>
<li>Uurige hooldusajalugu, et teha kindlaks, kas salvestatud läbisõit vastab autos kuvatavale ja kas hooldust on teostatud regulaarselt. 
</li>
<li>Sõlmige alati kirjalik ostu-müügileping kahes eksemplaris.
</li>
</ul>

<p>Põhjalikumalt saad kasutatud auto ostmisest lugeda maanteeameti, tarbijakaitseameti ning maksu- ja tolliameti koostöös valminud <a href="http://www.tarbijakaitseamet.ee/sites/default/files/tarbijale/nouanded_kasutatud_soiduki_ostjale.pdf", target="_blank">juhendist</a>.</p>
<p><a href="https://ostatargalt.ee/kasutatud-auto/",target="_blank"> Kasutatud auto osta targalt</a></p>
<p><a href="https://www.mnt.ee/sites/default/files/content-editors/Failid/blanketid/myygileping_2.doc" target="_blank">Ostu-müügilepingu näidisvorm</a></p>
  </div>
</div>