<% content_for :title,"Buying a Car - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Everything you need to buy a used car</h2>
    </div>
        <p class="lead">Buying a used car can be the fastest, simplest and cheapest way to your ideal car. We show you how to buy the best used car you can with the minimum of fuss.</p>
        <p><%= link_to 'Find a used car', new_search_path(:search=>"all"),:method=>:post %></p>
        <h3>Setting your budget</h3>
    <p>Before you think about which car to buy, you'll need to work out how much you have to spend.</p>
    <ul>
<li>Work out how much your current car is worth, and whether you will sell it privately or part-exchange it with a dealer</li>
<li>Decide on whether you need to take out finance</li>
<li>Calculate how much your fuel, insurance and road tax costs are likely to be</li>
</ul>
<h3>Choosing the right car</h3>
<p>With more choice than ever, choosing your perfect car can be a bewildering process. Make sure you spend some time working out what you need from your car. Think about:</p>
<ul>
<li>What the car will be used for</li>
<li>How many passengers will be regularly carried</li>
<li>How much will it cost to fuel, insure, service and repair</li>
<li>Short trips or long journeys?</li>
<li>Do I need a big luggage capacity?</li>
<li>Does it need to perform a specific task, like towing?</li>
</ul>
<h3>Contacting the seller</h3>
<p>Your first contact with a seller can reveal a lot of valuable information about the car, so it's important you ask the right questions.</p>
<ul>
	<li>Ask thorough questions about the car, its past and its condition</li>
<li>Arrange to view a private sale at the seller's house, and a trade sale at their premises</li>
<li>Always view the car in daylight, and preferably when it's dry to make it easier to spot damage</li>
</ul>
<h3>Inspecting a used car</h3>
<p>You don't need to be a mechanic to inspect a used car, but there are a few golden rules.</p>
<ul>
<li>Get a car history check to establish if the car has any outstanding finance, has been stolen or written off</li>
<li>Examine the car's documents – registration certificate and service history – to spot if the car has been clocked</li>
<li>Check the car's Vehicle Identification Number (VIN) at the base of the windscreen, under the bonnet and stamped into the chassis under the carpet beside the driver's seat for signs of tampering, and make sure they match the VIN recorded in the registration certificate</li>
<li>Look for rust, mismatched paint and uneven gaps between body panels</li>
<li>Make sure all the car's features work</li>
<li>By reading key documents including the registration certificate and service history then checking key points around the car, you will be able to quickly assess if the vehicle you are viewing is as described in its advert</li>
</ul>
<h3>Test driving a car</h3>
<p>The test drive is your chance to asses every aspect of the car, from how it feels on the road, to making sure all its equipment works correctly.</p>
<ul>
	<li>Always take a test drive of at least 15 minutes and on different types of road</li>
<li>Arrange suitable insurance cover before you drive the car</li>
<li>Start the car when the engine is cold, and check for excessive smoke and unusual noises</li>
<li>Check the gears, brakes, steering and suspension work as they should, with no unusual noises and vibrations</li>
</ul>
<h3>Haggling with sellers</h3>
<p>It's common for buyers to make an offer on the car they would like to buy, so don't be afraid of haggling on price.</p>
<ul>
<li>Know what the car is worth, and what you're willing to pay</li>
<li>Start your bidding low and let the seller work the price up</li>
<li>A tank of fuel or a service can be a good negotiating tool</li>
<li>Show commitment to the deal, stay calm and don't be confrontational</li>
<li>If you can't come to an agreement, remember there are plenty of other cars available</li>
</ul>
<h3>Doing the paperwork</h3>
<p>A car's paperwork is essential and provides information on the history and ownership of the car, so you should check it thoroughly.</p>
<ul>
<li>Check all paperwork looks and feels genuine – photocopies and print outs could be fake</li>
<li>Ensure the Vehicle Identification Number (VIN) recorded in the registration certificate matches the ones displayed in the car, and the address and recorded keeper's information tallies with the person selling the car</li>
<li>Examine the service history to make sure the recorded mileage is in line with the mileage displayed in the car, and that regular maintenance has been carried out</li>
<li>Make sure the buyer writes a receipt for you both</li>
</ul>
  </div>
</div>