<% content_for :title,"Selling a Car - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>How to sell a car</h2>
    </div>
        <p class="lead">Selling a car might sound daunting, but we're here to help ensure it's as quick and easy as possible.</p>
        <p><%= link_to 'Advertise your car', new_advert_path  %></p>
        <h3>Setting the price</h3>
   <p>Pricing your car correctly can mean you get a quick sale, so it's worth taking the time to think the price through. </p>
<ul>

<li>Compare your car with similar models for sale privately on Webauto.ee</li>
<li>Consider your car's mileage, age, condition and features for a more accurate price</li>
<li>Factor in room for the buyer to haggle</li>
</ul>
<h3>Writing the car advert</h3>

<ul>
<li>Ensure your ad reads well and sells your car's strong points, without exaggerating</li>
<li>Write clearly, avoiding jargon or complicated terms e.g. 'metallic red' rather than 'Fire Opal'</li>
<li>Include key features and desirable equipment such as leather seats or air-conditioning</li>
<li>Include any recorded service history</li>
<li>Keep the advert as concise as possible</li>
</ul>
<h3>Taking great photos</h3>
<p>Good photos make it far more likely for you to have a successful sale quickly, and taking them needn't take a long time.</p>
<li>Clean your car inside and out</li>
<li>Make sure your pictures are sharp and in focus</li>
<li>Take pictures when the car is well-lit and dry</li>
<li>Clear space around the car so you can get the whole car in</li>
<li>Photograph important details such as alloy wheels and don't forget the interior</li>
</ul>
<h3>Preparing your car for sale</h3>
<p>A clean car looks like a cared-for car, so spending a morning making it sparkle could add hundreds of euros to its value.</p>
<ul>
<li>A good wash creates the best first impression</li>
<li>Cleaning the interior is essential and an air-freshener might help</li>
<li>Check – and top up – oil and water levels and make sure the tyres are correctly inflated</li>
<li>Gather all the paperwork and arrange it so buyers can examine it easily</li>
</ul>
<h3>Dealing with buyers</h3>
<p>Buyers will almost always want a test drive and to inspect your car thoroughly before handing over any money.</p>
<ul>
<li>Always ensure any buyer test driving your car is suitably insured – if not fully covered by their normal insurer they should obtain temporary car insurance for the test drive. Ask to see proof first</li>
<li>Never leave the buyer alone with the car keys and turn off the engine if you swap drivers</li>
<li>Give the buyer time to view the car and let them arrange further inspections if they want to</li>
<li>Be wary of buyers requesting specific personal details. You shouldn't need to provide them with your account details or any banking information</li>
<li>Where possible, arrange to meet at a neutral location like a police station car park and try to take someone with you</li>
<li>Make sure you take key information like registration details, vehicle service history and other certificates</li>
<li>Is the buyer who they say they are? Before they take your car out for a spin, ask to see their licence. Bring a pen and paper so you can write it down</li>
</ul>
<h3>Closing the deal</h3>
<p>Buyers will want to haggle your price down, and some will be eager to pay, but make sure you're satisfied the payment is genuine before you take the car</p>
<ul>
<li>Expect a haggle – buyers expect to get some money off so have your lowest price in mind and stick to it</li>
<li>Be sure you're happy with the method of payment</li>
<li>Don't take your ad down until you are certain you have received payment from the buyer – it won't cost you anything to have it up longer.</li>
</ul>
<h3>Doing the paperwork</h3>

<ul>
<li>Write a receipt for you and the buyer</li>
<li>Let your insurance company know you've sold the car</li>
</ul>
  </div>
</div>