<% content_for :title,"Как продать автомобиль - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Как продать автомобиль</h2>
    </div>
        <p class="lead">Продажа автомобиля может показаться сложной задачей, но мы сделаем всё возможное, чтобы это было максимально быстро и легко. </p>
        <p><%= link_to 'Подать объявление', create_ad_path  %></p>
        <h3>Определение цены</h3>
   <p>Определение правильной цены может значительно ускорить процесс продажи Вашего автомобиля, так что стоит уделить этому достаточно времени. </p>
<ul>

<li>Сравните Ваш автомобиль с подобными моделями из частных объявлений портала Webauto.ee. </li>
<li>Для более точного определения цены учитывайте пробег, возраст, состояние и характеристики автомобиля. 
</li>
<li>Учитывайте пространство для торга  
</li>
</ul>
<h3>Написание объявления о продаже</h3>
<ul>
<li>Убедитесь, что объявление легко читается и передаёт сильные стороны Вашего автомобиля без преувеличения. 
</li>
<li>Пишите ясно, избегая жаргона и сложной терминологии, например, вместо "цвет огненного опала" употребите "красный металлик".
</li>
<li>Добавьте основные характеристики и желаемое оборудование, например кожаные сиденья или климат-контроль. 
</li>
<li>Включите любую зарегистрированную историю обслуживания автомобиля. 
</li>
<li>Следите за тем, чтобы текст объявления был как можно кратким.
</li>
</ul>
<h3>Фотографирование автомобиля</h3>
<p>Хорошие фотографии дают гораздо больше шансов для успешной продажи, и совсем не обязательно тратить на них много времени.</p>
<li>Помойте свой автомобиль внутри и снаружи.</li>
<li>Убедитесь, что фотографии чёткие и в фокусе.</li>
<li>Делайте фотографии, когда автомобиль хорошо освещён и сухой.</li>
<li>Освободите место вокруг автомобиля, чтобы он полностью поместился на фотографию. </li>
<li>Фотографируйте важные части и детали автомобиля, такие как литые диски, и не забывайте салон. </li>
</ul>
<h3>Подготовка автомобиля к продаже</h3>
<p>Чистый автомобиль создаёт впечатление ухожанного автомобиля, так что уделив время на то, чтобы придать немного блеска, может повысить стоимость автомобиля на сотни евро.
</p>
<ul>
<li>Хорошая мойка автомобиля создаёт лучшее первое впечатление.</li>
<li>Очистка салона автомобиля очень важна, также может быть полезным и освежитель воздуха.</li>
<li>Проверьте уровень масла и жидкостей, в случае необходимости добавьте, также убедитесь, что Ваши шины должным образом подкачены.
</li>
<li>Соберите все документы на автомобиль и организуйте их таким образом, чтобы покупатель мог легко их изучить.
</li>
</ul>
<h3>Общение с покупателем</h3>
<p>Прежде чем отдавать какие-либо деньги, покупатели почти всегда хотят сделать тест-драйв на автомобиле и тщательно его осмотреть.</p>
<ul>
<li>Всегда проверяйте, чтобы у всех, кто делает тест-драйв на Вашем автомобиле была подходящая страховка. Если полной страховой защиты нет, они должны сделать временную страховку на тест-драйв автомобиля. Спросите сначало показать доказательство страховки.
</li>
<li>Никогда не оставляйте покупателя одного с ключами Вашего автомобиля и всегда выключайте двигатель перед тем, как меняться местами.
</li>
<li>Дайте покупателю время на осмотр и позвольте ему устроить дополнительную проверку автомобиля. </li>
<li>Будьте осторожны с покупателеями, которые требуют от Вас конкретную личную информацию. Вы не обязаны давать им информацию о Вашем банковском счёте или любые другие банковские данные. 
</li>
<li>Если возможно, организуйте встречу в нейтральном месте, например, на стоянке полицейского участка, и попытайтесь взять кого-нибудь с собой. 
</li>
<li>Убедитесь, что Вы взяли с собой основные документы, такие как свидетельство о регистрации, книга истории обслуживания автомобиля, а также другие важные документы. 
</li>
<li>Является ли покупатель тем, кем представился? Перед тем, как покупатель поедет на Вашем автомобиле, попросите его показать водительские права. Возьмите с собой бумагу и ручку, чтобы записать информацию. 
</li>
</ul>
<h3>Совершение сделки</h3>
<p>Некоторые покупатели хотят, чтобы Вы понизили цену, а некоторые очень нетерпеливые, но всегда проверяйте, чтобы платеж был осуществлён до передачи автомобиля. </p>
<ul>
<li>Будьте готовы торговаться. Покупатели предполагают, что они смогут договориться о более низкой цене, так что заранее определите конкретную сумму, которую Вы готовы уступить и не при каких обстоятельствах её не превышайте. 
</li>
<li>Убедитесь, что Вас устраивает способ оплаты.
</li>
<li>Не убирайте объявление до тех пор, пока Вы не будете уверены, что оплата совершена. Вам не будет ничего стоить, если объявление будет активным еще немного времени.
</li>
</ul>
<h3>Оформление документов</h3>
<ul>
<li>Заключайте всегда письменный договор купли-продажи в двух экземплярах.
</li>
<li>Известите страховую компанию, что Вы продали автомобиль.
</li>
</ul>
<p><a href="http://www.mnt.ee/public/ark_blanketid/myygileping.doc" target="_blank">Пример договора купли-продажи</a></p>
  </div>
</div>