<% content_for :title,"Auto müügiabi - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Kuidas müüa autot</h2>
    </div>
        <p class="lead">Auto müümine võib tunduda hirmutav, kuid meie oleme siin selleks, et muuta see kiireks ja nii lihtsaks kui võimalik.</p>
        <p><%= link_to 'Lisa kuulutus', create_ad_path  %></p>
        <h3>Hinna määramine</h3>
   <p>Oma autole õige hinna määramine võib tähendada kiiret müüki, nii et hinna läbimõtlemisele kulutatud aeg on seda väärt.</p>
<ul>

<li>Võrrelge oma autot sarnaste omaniku poolt eramüügil olevate mudelitega Webauto.ee portaalis. </li>
<li>Täpsema hinna määramiseks arvestage oma auto läbisõidu, vanuse, seisukorra ja omadustega.
</li>
<li>Arvestage hinda ka ruum ostjapoolse tingimise jaoks.
</li>
</ul>
<h3>Automüügikuulutuse kirjutamine</h3>

<ul>
<li>Veenduge, et Teie kuulutus on hästi loetav ning müüb Teie auto tugevaid külgi ilma liialdusteta.
</li>
<li>Kirjutage selgelt, vältides slängi ja keerulisi termineid, nt mitte "tuliopaal", vaid "metallikpunane".
</li>
<li>Lisage peamised omadused ja soovitav varustus, nagu näiteks nahkistmed või kliimaseade.
</li>
<li>Lisage ka kogu ametlik hooldusajalugu.
</li>
<li>Koostage kuulutus nii lühikesena kui võimalik.
</li>
</ul>
<h3>Suurepäraste fotode tegemine</h3>
<p>Head fotod muudavad eduka müügi tunduvalt tõenäolisemaks ning nende tegemisele ei kulu ilmtingimata palju aega.</p>
<li>Puhastage oma auto seest ja väljast.</li>
<li>Veenduge, et fotod oleksid teravad ja fookuses.</li>
<li>Tehke fotod siis, kui auto on hästi valgustatud ja kuiv.</li>
<li>Puhastage auto ümber olev ala, et saaksite kogu auto pildile.</li>
<li>Pildistage olulisi detaile, näiteks valuvelgi, ning ärge unustage ka interjööri.</li>
</ul>
<h3>Auto ettevalmistamine müügiks</h3>
<p>Puhas auto paistab autona, mille eest on hoolt kantud, nii et kogu hommiku kulutamine auto säravaks muutmiseks võib selle väärtusele lisada sadu eurosid.
</p>
<ul>
<li>Korralik pesemine loob parima esmamulje.</li>
<li>Interjööri puhastamine on väga oluline ja abiks võib olla ka õhupuhasti.</li>
<li>Kontrollige õli- ja veetaset, vajadusel lisage, samuti veenduge, et rehvid on õigesti täidetud.
</li>
<li>Koguge kokku kõik paberid ja korrastage nad nii, et ostjal oleks neid lihtne uurida.
</li>
</ul>
<h3>Ostjatega suhtlemine</h3>
<p>Ostjad tahavad enne raha üleandmist peaaegu alati teha testsõidu ja nad vaatavad Teie auto põhjalikult üle.</p>
<ul>
<li>Kontrollige alati, et kõigil testsõitu tegevatel ostjatel oleks asjakohane kindlustus – kui nende tavapärase kindlustusandja poolne kindlustus puudub, peaksid nad testsõidu jaoks hankima ajutise autokindlustuse. Küsige kõigepealt tõestust.
</li>
<li>Ärge jätke ostjat kunagi autovõtmetega üksi ja sõitjaid vahetades keerake süüde välja.
</li>
<li>Andke ostjale auto vaatamiseks aega ja laske soovi korral korraldada täiendav ülevaatus.</li>
<li>Olge ettevaatlik ostjate suhtes, kes nõuavad konkreetseid isiklikke andmeid. Te ei peaks neile andma oma kontoandmeid või mistahes muud pangateavet.
</li>
<li>Võimalusel korraldage kohtumine neutraalses asukohas, näiteks politseijaoskonna parklas, ja proovige keegi endaga kaasa võtta.
</li>
<li>Veenduge, et võtate kaasa peamise teabe, näiteks registreerimisandmed, sõiduki hooldusajaloo ja muud dokumendid.
</li>
<li>Kas ostja on see, kellena ta ennast tutvustab? Enne kui ostja teie autoga sõitma läheb, küsige tema juhiluba näha. Võtke kaasa paber ja pliiats, et saaksite andmed üles märkida.
</li>
</ul>
<h3>Tehingu lõpuleviimine</h3>
<p>Ostjad tahavad hinda allapoole tingida ja mõned neist on maksmisel väga innukad, kuid Teie peate olema kindel, et makse on tõeline enne, kui auto üle annate.</p>
<ul>
<li>Olge valmis tingimiseks – ostjad eeldavad, et saavad hinda alla kaubelda, nii et mõelge välja oma madalaim hind ning jääge selle juurde.
</li>
<li>Te peate olema maksemeetodiga rahul.
</li>
<li>Ärge võtke oma kuulutust maha enne, kui olete kindel, et olete ostjalt makse saanud – kuulutuse pikem ülevalhoidmine ei maksa teile midagi.
</li>
</ul>
<h3>Paberimajandus</h3>
<ul>
<li>Sõlmige alati kirjalik ostu-müügileping kahes eksemplaris.
</li>
<li>Teatage oma kindlustusfirmale, et olete auto maha müünud.
</li>
</ul>
<p><a href="http://www.mnt.ee/public/ark_blanketid/myygileping.doc" target="_blank">Ostu-müügilepingu näidisvorm</a></p>
  </div>
</div>