<div class="popular_searches well well-small hidden-phone">
    <h4>Popular Searches</h4>
  <ul class="nav nav-tabs" id="popularTab">
      <li class="active"><a href="#make" data-toggle="tab">Make</a></li>
      <li><a href="#models" data-toggle="tab">Models</a></li>
      <li><a href="#bodytypes" data-toggle="tab">Bodytypes</a></li>
    </ul>
    <div id="myPopularTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="make">
        
       <ol>
        <div class="row-fluid">
        <% @popular_makes.each_with_index do |pm,i| %>
        <% if i==0 || i==5 %>
        <div class="span6">
          <% end %>
            <li>
              <%= link_to pm.name, new_search_path(:search=>"make",:value=>pm.name),:method=>:post  %>
            </li>
          <% if i==4 || i==9 %>  
          </div>
        <% end %>
        <% end %>
         </div>
       </ol>
    
      </div>
      <div class="tab-pane fade" id="models">
        <ol>
            <div class="row-fluid">
       <% @popular_models.each_with_index do |pm,i| %>
       <% make_name=pm.make.name %>
         <% if i==0 || i==5 %>
        <div class="span6">
          <% end %>
            <li>
              <%= link_to "#{make_name} #{pm.name}", new_search_path(:search=>"model",:value=>make_name,:model=>pm.name),:method=>:post  %>
            </li>
             <% if i==4 || i==9 %>  
          </div>
        <% end %>
        <% end %>
         </div>
      </ol>
      </div>
      <div class="tab-pane fade" id="bodytypes">
       <ol>
        <div class="row-fluid">
        <% @popular_bodytypes.each_with_index do |bt,i| %>
          <% if i==0 || i==5 %>
        <div class="span6">
          <% end %>
            <li>
              <%= link_to bt.name, new_search_path(:search=>"bodytype",:value=>bt.id),:method=>:post  %>
            </li>
            <% if i==4 || i==9 %>  
          </div>
        <% end %>
        <% end %>
        </div>
       </ol>
     </div>
    </div>
     <p style="margin-top:5px;"><%= link_to 'View All Makes & Models', new_search_path(:search=>"all"),class: "btn btn-info btn-block"  %></p>

  </div>