<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span3">
    <%= render 'users/well',:active=>'items' %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h2><%= t("saved_items.index.saved_items") %></h2>
    </div>
      
    <div id="saved_items_progress" >
      <%= render 'progress' %>
    </div>
  
        
      <div id="saved_items" style="margin-top:10px;">
      <%= render partial: 'saved_items/saved_items' %>
    </div>
   </div>

</div>