<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p><%= "#{t('contact_dealer_subject')}" %> 
   </p>
   <p><%= @inquiry.message %></p>
   <p>
	  <b><%= @inquiry.name %></b>
     </p>
   <p>
	  <%= @inquiry.email %>
     </p>
  
   
		</body>
      </html>