<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p>
     Hello,
   </p>
    <p>
          <% vehicle=@advert.vehicle %>
          <% picture=vehicle.pictures.first %>
          <% type=vehicle.type.name %>
      The vehicle <%= vehicle.make_model %> has just been sold. 
<p>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</p>
  </body>
</html>