<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, 
    </p>
    <p>
         
          <% picture=@vehicle.pictures.first %>
          <% type=@vehicle.type.name %>
      The price of your saved vehicle <%= @vehicle.make_model %>
      has just been updated. Check your saved vehicle: </p> 
      <%= link_to image_tag("http://www.webauto.ee"+picture.file_url(:thumb)), url_for(controller: 'cars', action: 'show',locale: I18n.locale,id: @vehicle,only_path: false) %>
<p>Kind regards,</p>
<p>The Webauto team</p>
  </body>
</html>