 <abbr title="Phone">P:</abbr>
                   <span><%= @primary_phone %>
                    <% if @secondary_phone!="" %>
                      
                     <%= ", #{@secondary_phone}" %>
                     <% end %>
                     </span>