

			       <span class="lead text-info">
			   
                   <%= @primary_phone %>
                    <% if @secondary_phone!="" %>
                      
                     <%= " #{@secondary_phone}" %>
                     <% end %>
			
                        </span>