
<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>About us</h2>
    </div>
        <p>Our aim is to make the process of buying a car as simple as possible so that you can relax in the knowledge that they will do all the work on your behalf, providing the car of your choice at the best value for money.</p>
  </div>
</div>