
<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>About us</h2>
    </div>
	<p class="lead">Thank you for visiting Webauto.ee!</p>
    
 <p>
        Our aim is to bring you the best automotive classified website in Estonia. We try to transform the car-buying experience for consumers and the way that dealers attract customers and sell cars. We have established an intelligent, data-driven online platform, powered by proprietary data and analytics. </p>
		 <p>Webauto does not buy or sell any vehicles itself.
		We list used cars for sale from dealers and private sellers. We try to make searching for a car on Webauto.ee as easy as possible. Use our powerful search engine to sort through our listings and track down the vehicle you want. Get photos and full pages of information on each used vehicle.  </p>

		 <p>If you find a dealer vehicle that suits you, please try our enquiry service. We will take your details and immediately pass it to the dealer. 

		If you find a private vehicle that suits you, you can enquire on this through the site as well. 

		If you can't find a vehicle that suits you, please try our "Alert" service. It will email you when a vehicle that matches your requirements is listed on our service. You can set up alerts for both dealer and private seller vehicles.  </p>

		<p><%= link_to 'Click here to search for a used vehicle', new_search_path(:search=>"all"),:method=>:post  %></p>
		<p>
			Webauto.ee offers you advertising for free. All ads stay on the site until your vehicle is sold with no pay. We update our listing of used cars many times throughout the day. Advertisers can remove their ads as soon as their car is sold, 24 hours 7 days a week. They can also add photos, change their prices and edit their ads as many times as they like. 

			 </p>
    <p><%= link_to 'Click here to advertise a car', new_advert_path  %></p>
			
		


  </div>
</div>