
<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>О проекте</h2>
    </div>
	<p class="lead">Благодарим Вас за посещение портала Webauto.ee!
</p>
    
 <p>
	 Нашей целью является создание лучшего портала автомобильных объявлений в Эстонии. Мы пытаемся трансформировать как процесс поиска и покупки автомобиля частными лицами, так и способы привлечения потенциальных покупателей и продажи автомобилей автодилерами. Мы создали интеллектуальную веб-платформу, движущей силой которой являются автомобильные данные и их анализ.	 
         </p>
		 <p>
			 Webauto.ee не покупает и не продаёт автомобили. Мы лишь собираем объявления о продаже подержанных автомобилей как от частных лиц, так и от автодилеров. Мы пытаемся сделать процесс поиска автомобиля как можно проще. Используйте нашу мощную поисковую систему для сортировки списка объявлений и нахождения желаемого автомобиля, выставленного на продажу. Вы можете посмотреть фотографии и полные страницы информации для каждого подержанного автомобиля.
			
 </p>

		 <p>
			 После того как Вы нашли подходящего автодилера, попробуйте наш сервис для контакта. Мы примем Ваши данные и доставим их немедленно продавцу. Если Вы нашли автомобиль от частного лица, можете на той же странице послать запрос продавцу. Если Вы не можете найти подходящий автомобиль, пожалуйста, попробуйте наш сервис уведомлений. Вы получите уведомление по электронной почте, как только соответствующий Вашим критериям автомобиль появится в нашем списке объявлений. Подписаться на уведомления могут зарегистрированные частные лица, а также и автодилеры.
  </p>

		<p><%= link_to 'Искать подержанные автомобили
', new_search_path(:search=>"all"),:method=>:post  %></p>
		<p>
			Размещение объявлений на Webauto.ee бесплатно. Все объявления на портале хранятся до тех пор, как Ваш автомобиль не продан. Пользователи могут снять объявление о продаже, как только автомобиль будет продан, в любое время. Вы также можете добавить фотографии, менять цену и содержание объявления столько раз, сколько Вам нужно.

			

			 </p>
    <p><%= link_to 'Подать объявление о продаже', create_ad_path  %></p>
			
		


  </div>
</div>