<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Privacy Policy</h2>
    </div>
<p class="lead">THIS PRIVACY POLICY SETS OUT HOW WEBAUTO USES AND PROTECTS ANY INFORMATION THAT YOU GIVE WEBAUTO WHEN YOU USE THIS WEBSITE</p>

<p>
By using Webauto.ee, you permit the collection and use of your personal information as outlined below and you signify your agreement to this Privacy Policy (last updated on 1st January 2016). If you do not agree with these terms, you should not use Webauto.ee.</p>

	<ol>
	  <li>
		  <strong>ABOUT OUR PRIVACY POLICY</strong>
		  <ol>
			  <li>
				   Our website (<strong>"Webauto.ee"</strong>) allows users to search advertisements posted on Webauto.ee for used vehicles (<strong>"Vehicles"</strong>). Webauto.ee also allows users, both private sellers and professional trade advertisers to register with Webauto.ee (<strong>"Advertisers"</strong>), and to place advertisements for the sale of Vehicles.
			  </li>
			  <li>
				  This policy, together with our Terms and Conditions and any other documents referred to in them, set out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.
			  </li>
		  </ol>
	  </li>
	  <li><strong>HOW WE COLLECT INFORMATION ON WEBAUTO.EE</strong>
		  <ol>
			  <li>You can browse Webauto.ee without telling us who you are or revealing any personal information about yourself.
			  </li>
			  <li>
				  When registering as an Advertiser, responding to an advertisement via Webauto.ee or during your time as an Advertiser or user of Webauto.ee you may be asked to provide information to us. We will inform you at the time of collecting information from you whether you must provide the information to use Webauto.ee or a particular Webauto.ee service, or whether the provision of information requested by us is optional. By agreeing to this Policy you agree that we have informed you at the time of collecting information from you whether the information that you may provide to us will be accessible to other users of Webauto.ee, other Advertisers or by third parties so that you are in a position to take an informed decision on whether to provide the information to us.
			  </li>
			  <li>We may collect and process the following data about you:
				  <ul>
					  <li>
						  	if you contact us, we may keep a record of that correspondence;
					  </li>
					  <li>
						  	information that you submit in response to an advertisement or when communicating with an Advertiser; 
					  </li>
					  <li>	in order to register as an Advertiser, we will require you to supply your name, email address, contact telephone number, or postal address; 
					  </li>
					  <li>	in order to ensure the information supplied to us is held securely we may occasionally request proof of identity before allowing access to your personal information;
					  </li>
					  <li>	if you place an advertisement on Webauto.ee, we will require vehicle registration details, a telephone number, (either a landline or a mobile number) and an email address;
					  </li>
					  <li>	details of advertisements and enquiries you submit through Webauto.ee;
					  </li>
					  <li>information about the devices on which you visit Webauto.ee, and your activities on this site;</li>
					  <li>third party account details (for example where you sign in through a social network).</li>
				  </ul>
				  
			  </li>
		  </ol>
		  
	  </li>
	  <li><strong>USES MADE OF THE INFORMATION</strong>
	  <ol>
		  <li>
			  Advertisers partake in Webauto.ee by placing advertisements for Vehicles for sale. Advertisers are able to manage, change, and remove the advertisements submitted to Webauto.ee service through 'My adverts'. Advertisers need personal login details to access 'My adverts', which will have been supplied to them on completion of registration with Webauto.ee.
		  </li>
		  <li>Advertisements contain information relating to Vehicles and also limited personal information about Advertisers which Advertisers provide to us. You agree that if you place an advertisement on Webauto.ee then we can provide potential buyers with the telephone number that you provide to us via Webauto.ee. You acknowledge and agree that you may be contacted using that number by Webauto.ee users.
		  </li>
		  <li>We require Webauto.ee users responding to Advertisements via Webauto.ee to provide their name, email address, comments addressed to the Advertiser and (optionally) a telephone number to us. Then we email the Advertiser on their behalf, and give the Advertiser this information. Advertisers agree that they will only use the information that we provide to them from Webauto.ee users for the purposes of dealing with their Advertisement, unless the Webauto.ee user separately agrees with the Advertiser.
		  </li>
		  <li>Separately, Webauto.ee users can contact the Advertiser directly via an "Contact seller" button on Webauto.ee which allows the Webauto.ee user to send the Advertiser a message via Webauto.ee directly. You agree to only contact an Advertiser using Webauto.ee or using information that we give to you for the purposes of dealing with the Advertiser's Advertisement, unless the Webauto.ee user separately agrees with the Advertiser.
		  </li>
		  <li>We use information held about you in the following ways:
			  <ul>
				  <li>
					  to develop relevant content from Webauto.ee and ensure that content is presented in the most effective manner for you and for your computer;
				  </li>
				  <li>to provide you with information (such as information on offers), products or services that you request from us or which we feel may interest you including information (such as information on offers) from us and our partners, and to notify you about changes to our service, where you have consented to be contacted for such purposes;
				  </li>
				  <li>to carry out our obligations arising from any contracts entered into between you and us;
				  </li>
				  <li>to deliver and maintain a high quality service; </li>
				  <li>to assist you if you are experiencing a problem with Webauto.ee;</li>
				  <li>	to allow you to access Webauto.ee and to participate in interactive features of our service, when you choose to do so; and
				  </li>
				 <li>	for the purposes of compiling statistics.
				 </li>
			  </ul>
			  
		  </li>
		  <li>Except as set out in this Privacy Policy, we do not sell, rent, share, trade or give away any of your personal information.
		  </li>
	  </ol>
	  
	  </li>
	  <li><strong>DISCLOSURE OF YOUR INFORMATION TO OTHER PEOPLE</strong>
	  <ol>
		  <li>
			  We do not disclose to any third party personal information that you provide to us unless we have your permission or we believe the law permits or requires it.
		  </li>
		  <li>While we do not disclose your name to third party vehicle record checking service providers, when you ask us to check registration details of your vehicle or where we think it is prudent to do so, we may send limited details such as your vehicle's registration number to these services providers.
		  </li>
		  <li>Where legally required to do so we will notify you when information about you may be provided to third parties in ways other than explained in this policy.
		  </li>
		  <li>We do not disclose personal information about you to third parties (including advertisers or marketing companies), but we may provide them with aggregate anonymised information about Webauto.ee users. For example, we may inform them that 500 men aged under 30 have clicked on their advertisement displayed on Webauto.ee on any given day, or we might inform third parties regarding the number of unique users who visit Webauto.ee. We may also use such aggregate anonymised information to help advertisers reach the kind of audience they want to target when displaying advertisements on our website. We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience. You agree to these practices.
		  </li>
	
	  </ol>
	  
	  
	  </li>
	  <li><strong>SECURITY AND CONTROL OF YOUR PERSONAL DATA</strong>
		  <ol>
			  <li>
				  We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.
			  </li>
			  <li>Where we have given you (or where you have chosen) a password which enables you to access certain parts of Webauto.ee, you are responsible for keeping this password confidential. We ask you not to share a password with anyone. You are responsible for the security of your password and our <%= link_to "Terms and Conditions",terms_path %> deal with this in more detail.
			  </li>
			  <li>Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to Webauto.ee; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access. You acknowledge that we are not responsible for any intercepted information sent via the Internet, and you hereby release us from any and all claims arising out of or related to the use of intercepted information in any unauthorised manner.
			  </li>
			  <li>You should be aware that when you voluntarily disclose personally identifiable information and agree to make that information public on Webauto.ee (e.g., telephone number) via advertisements on Webauto.ee or where you use Webauto.ee to correspond with other users or Advertisers, that information, along with any substantive information disclosed in your advertisement, can be collected, correlated and used by third parties. These third parties, other Advertisers or Webauto.ee users may use your information to send you unsolicited messages. Such activities are beyond our control. Please do not post any personal information on Webauto.ee which will be published on Webauto.ee that you wish to keep private. Please consider carefully what personal information you wish to send other users or Advertisers on Webauto.ee.
			  </li>
		  </ol>
		  
		  
	  </li>
	  <li><strong>LINKS TO THIRD PARTY WEBSITES AND ADVERTISEMENTS ON THIRD PARTY WEBSITES</strong>
	  <ol>
		  <li>
			  Webauto.ee may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates as well as third party websites to which we have no affiliation. If you follow a link to any of these websites, please note that these websites may have their own privacy policies and/or terms and conditions which apply to them, and that we do not accept any responsibility or liability for these policies, terms and conditions or for the activities on those websites.
		  </li>
		  <li>	From time to time we may enter into arrangements with third parties where the third parties agree to display your Advertisement on their website or to publish it in their publications (whether offline or online). You agree and understand that where we do this any personal data that you have chosen to include in your Advertisement will be provided to the third party for this purpose when we supply the content of the Advertisement to them. Please note that these third party websites and publications may have their own privacy policies and/or terms and conditions which apply to them, and that we do not accept any responsibility or liability for these policies, terms and conditions or for the activities on those websites or in connection with those publications.
		  </li>
	  </ol>
	  </li>
	  <li><strong>IP ADDRESSES, TRAFFIC DATA, LOCATION DATA AND COOKIES</strong>
	  <ol>
		  <li>We may collect information about your computer, including (where available) alphanumeric IDs, operating system, browser type and traffic data, such as information regarding the volume and status of data transmission, click-through statistics, the name of the domain and host from which you access the Internet and the date and time you access portions of the Webauto.ee (<strong>"Website Use Info"</strong>), for system administration and statistical purposes. This Website Use Info is statistical data about our users' browsing actions and patterns, and does not identify any individual, except if required by the law. 
		  </li>
		  <li>We may also collect information about your IP address and geographic location (<strong>"Geo Data"</strong>) for system administration and statistical purposes. All Geo Data is anonymised before use and does not identify any individual, except if required by the law. We also use <a href="http://www.google.com/intl/en_uk/analytics", target="_blank">Google Analytics</a> to allow us to track how popular our site is and to record visitor trends over time and the manner that this entity processes this Geo Data is set out in the terms and conditions that apply to these third party activities. You should read the terms and conditions, including any privacy policy, applicable to such third party activities to make sure that you understand the use that they may make of your information.
		  </li>
		  <li>For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. On revisiting Webauto.ee our computer server will recognise the cookie, giving us information about your last visit. They help us to improve Webauto.ee and to deliver a better and more personalised service.
		  </li>
	  </ol>
	  
	  </li>
	  <li><strong>ACCESS TO INFORMATION AND UPDATING, VERIFYING AND DELETING PERSONAL DATA</strong>
	  <ol>
		  <li>
			  At any time, you can make a written request to have access to and/or delete all personal information that we hold about you. We will provide this information to you and may request a small administrative charge.
		  </li>
		  <li>As an Advertiser, you can modify or update or delete your personal information at any time by accessing your account on Webauto.ee and choosing the option "My profile".
		  </li>
	  </ol>
	  
	  
	  </li>
	  <li><strong>CHANGES TO OUR PRIVACY POLICY</strong>
	  <ol>
		  <li>
			  Any changes we may make to our Privacy Policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. You should visit this page periodically to review any changes to the Privacy Policy.
		  </li>
		  <li>Advertisers will be notified upon accessing their account of any substantial changes to our Privacy Policy and Terms and Conditions. Use of Webauto.ee by Advertisers is conditional on the acceptance of our Privacy Policy and Terms and Conditions.
		  </li>
		  
	  </ol>
	  
	  </li>
	  <li><strong>USER FEEDBACK AND COMPLAINTS</strong>
		  <ol>
			  <li>
				  If you have any questions, comments and requests regarding this Privacy Policy, please <%= link_to "contact us",contact_path %>.
			  </li>
		  </ol>
		  
	  </li>
  </ol>


  </div>
</div>