<% content_for :title,"Безопасность - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Безопасность на Webauto.ee</h2>
    </div>
        <p class="lead">Покупка или продажа автомобиля должны быть приятным, беспроблемным делом, и на Webauto.ee мы делаем всё возможное, чтобы это было так. Наши полезные советы и подсказки помогут Вам оставаться в безопасности при пользовании порталом, независимо от того, являетесь ли Вы покупателем или продаёте автомобиль.
</p>
       <h3>Извещение о конкретных проблемах
</h3>
       <p>Если Вы думаете, что Вас хотят обмануть или получили подозрительное письмо, Вы можете <%= link_to "сообщить об этом нам",contact_path %>. Пожалуйста, представьте как можно больше информации, чтобы мы могли расследовать этот случай. Мы рассматриваем каждое подозрительное объявление и адрес электронной почты, о котором было сообщено.</p>
       <h3>Защита аккаунта</h3>
       <p>Если Вы получили сообщение электронной почты, в котором просят Вас нажать на ссылку и ввести конфиденциальную информацию (например, адрес электронной почты или пароль), будьте осторожны. Никакая уважающая себя организация не будет это делать. Webauto.ee никогда не будет просить Вас регистрационные данные или другую личную информацию по электронной почте, и мы никогда не будем просить Вас подтвердить информацию об учетной записи, нажав на соответствующую ссылку. </p>
       <p>Если Вы подозреваете, что кто-то получил доступ к Вашей учетной записи на Webauto.ee, немедленно измените пароль и <%= link_to "свяжитесь с нами",contact_path %>. Мы рекомендуем использовать разные пароли для портала Webauto.ee, учетных записей электронной почты и других онлайн-сервисов. Никогда не говорите никому информацию о Вашей учетной записи и убедитесь, что у Вас надёжный пароль, используйте комбинацию букв и цифр, в том числе заглавные буквы. Вы должны также менять свой пароль на регулярной основе.</p>
       <h3>Общие извещения о безопасности</h3>
       <p>Если Вы беспокоитесь о безопасности Ваших данных на портале Webauto.ee, пожалуйста, <%= link_to "свяжитесь с нами",contact_path %>.</p>
  </div>
</div>