<% content_for :title,"Turvalisus - Webauto.ee" %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Turvalisus</h2>
    </div>
        <p class="lead">Auto ostmine või müümine peaks olema meeldiv, probleemivaba kogemus ning Webauto.ee-s teeme me kõik, mida suudame, et see täpselt nii olekski. Meie kasulikud nõuanded ja näpunäited tagavad, et teil on võrgus turvaline, ükskõik, kas ostate või müüte autot.
</p>
       <h3>Konkreetsest probleemist teatamine
</h3>
       <p>Kui Te arvate, et nägite pettust või saite kahtlase e-kirja, võite sellest <%= link_to "meile teatada",contact_path %>. Palun andke nii palju teavet kui võimalik, et saaksime asja uurida. Uurime iga kahtlast kuulutust ja e-kirja, millest meile on teatatud.</p>
       <h3>Oma konto kaitsmine</h3>
       <p>Kui saate e-kirja, mis palub Teil klikkida lingil ja sisestada tundlikku teavet (näiteks oma e-posti aadressi või salasõna), olge ettevaatlik. Väga ebatõenäoline on, et mainekas organisatsioon seda teeb. Webauto.ee ei küsi Teilt kunagi e-kirja teel Teie sisselogimise andmeid või muud isiklikku teavet ning me ei palu Teil kunagi oma konto teavet kinnitada lingile klikkimisega.</p>
       <p>Kui arvate, et keegi on saanud juurdepääsu Teie Webauto.ee kontole, muutke viivitamatult oma salasõna ning <%= link_to "võtke meiega ühendust",contact_path %>. Soovitame Teil kasutada erinevaid salasõnasid Webauto.ee konto, e-posti konto ja muude võrgukontode jaoks. Ärge avaldage kellelegi kunagi oma konto andmeid ja veenduge, et Teie salasõna on tugev, kasutades tähtede ja numbrite kombinatsiooni, sealhulgas suurtähti. Peaksite oma salasõna regulaarselt muutma.</p>
       <h3>Üldine turvalisus ja turvapäringud</h3>
       <p>Kui olete turvalisuse ja ohutuse pärast mures, <%= link_to "võtke meiega ühendust",contact_path %>.</p>
  </div>
</div>