<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Staying safe on Webauto</h2>
    </div>
        <p class="lead">Buying or selling a car should be a pleasant, hassle-free experience‚ and at Webauto we do everything we can to make sure that's the case. Our handy hints and tips will ensure you stay safe online, whether you're buying or selling a car.</p>
       <h3>Report a specific issue</h3>
       <p>If you think you have seen a scam or received a suspicious email, you can report this to us at support@webauto.ee. Please provide as much information as possible so we can investigate. We examine every suspicious advert and email reported to us.</p>
       <h3>Protecting your account</h3>
       <p>If you receive an email that asks you to select a link and enter sensitive information (such as your username or password), be cautious. It is unlikely any reputable organisation would do this. Webauto will never ask you for your login details or other personal information in an email and we will never ask you to verify your account information by clicking on a link.</p>
       <p>If you think someone has gained access to your Webauto account, change your password immediately and contact us at support@webauto.ee. We recommend using different passwords for your Webauto account, email account and other online accounts. Never disclose your account details to anyone and always ensure your password is strong by using a combination of letters and digits, including uppercase. You should also change your password regularly.</p>
       <h3>General safety and security enquiries</h3>
       <p>If you have any safety and security concerns then contact us. Email support@webauto.ee.</p>
  </div>
</div>