
<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>Terms & Conditions</h2>
    </div>
    <p class="lead">PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</p>
	<ol>
	  <li>
		  <strong>THE AGREEMENT AND OUR SERVICES</strong>
  	<ol>
  	  <li>
		  Welcome to the Webauto.ee website. These terms and conditions (<strong>"Terms"</strong>), the Privacy Policy and all the documents expressly referred to in them (<strong>"Agreement"</strong>) are the terms and conditions of the agreement which you enter into with us when you use our website, www.webauto.ee, which includes the online advertising services provided by us to users from that website address and all the webpages containing that address, including any page that is enabled for use by a mobile device (<strong>"Webauto.ee"</strong>). 
  	  </li>
	  <li>
	  Webauto.ee, amongst other things, allows users to search advertisements posted on Webauto.ee for the sale of used vehicles.  Through Webauto.ee we also allow users, both Private Advertisers and Trade Advertisers, to register on Webauto.ee (each an <strong>"Advertiser"</strong>), and to place advertisements for the sale of Vehicles on Webauto.ee (each an (<strong>"Advertisement"</strong>). 
  </li>
  <li>
  All Webauto.ee users (whether registered or unregistered) can make enquiries about Advertisements to the Advertiser that/who submitted the Advertisement through Webauto.ee or directly to the Advertiser.
</li>
  	</ol>
</li>
	<li>
		 <strong>ACCEPTANCE AND APPLICABILITY OF THIS AGREEMENT</strong>
	   	<ol>
	   	  <li>
	 		  This Agreement applies to each user of Webauto.ee, including registered and unregistered users, (each a <strong>"user"</strong>, <strong>"you"</strong> and <strong>"your"</strong>), including all Private Advertisers and all Trade Advertisers. Please read the Agreement, including these Terms carefully before you start to use Webauto.ee.  By accessing and using Webauto.ee, you indicate that you have read, understand and accept the terms and conditions of this Agreement and that you agree to abide by them each time you access and use Webauto.ee.  If you do not agree to these terms and conditions, please refrain from accessing and using Webauto.ee. 
	   	  </li>
	   	  <li>
	 		  An Advertiser that/who: 
	  	   	<ul>
	  	   	  <li>
				  sells Vehicles in the course of a business, trade or profession; and/or
			   	  </li>
		  	   	  <li>
					  lists more than four Vehicles in any 6 month period on Webauto.ee;
				   	  </li>
			  	   	  <li>
						  agrees that he, she or it will be categorised as a "Trade Advertiser" for the purposes of this Agreement, even if the Advertiser originally registered as a Private Advertiser; all other Advertisers are "Private Advertisers" for the purposes of this Agreement.
					   	  </li>
				  </ul>
	   	  </li>
		  </ol>
		  
		  
	</li>
 	 
	  <li> <strong> REGISTRATION AND ACCOUNT SECURITY</strong>
  	   	<ol>
  	   	  <li>
		  Users can choose to register with us as Advertisers. Some areas of Webauto.ee require registration prior to use, or require the Customer to be a Trade Advertiser.
	  	  </li>
		  <li>
			   There are two types of Customer accounts, a Private Advertiser Account and a Trade Account.
	     	   	<ol>
	     	   	  <li>
			   A Private Advertiser Account can only be created and used by a person eligible to be a Customer pursuant to these Terms, who properly completes the registration process on Webauto.ee, who intends to be a Private Advertiser and who is accepted by us as a Customer.
	   		   </li>
			   <li>
				   A Private Advertiser Account is for your personal, non-commercial use only, and may be used by you to place Advertisements and other types of Content. To open a Private Advertiser Account you must provide your name, telephone number, email address and any other information sought in the Private Advertiser Account registration process on Webauto.ee. As a Private Advertiser you may only open one Private Advertiser Account on Webauto.ee and you can use it to place up to a maximum of four (4) Advertisements in a six (6) month period; and
			   </li>
			   <li>
				   A Trade Account is only for use by the Trade Advertiser that registers that account, and may only be used to place Advertisements and other types of Content by that registered Trade Advertiser. An authorised representative of the Trade Advertiser must submit the Trade Advertiser’s full legal name, address and VAT number, he name, email address, phone number  and telephone number of the Trade Advertiser’s representative and any other information sought in the Trade Account registration process on Webauto.ee. As a Trade Advertiser you may only open one Trade Advertiser Account on Webauto.ee but you can use it for multiple Advertisements.
			   </li>
	   	   	</ol>
			   <li>
				   When opening any Customer account you agree to provide accurate, current and complete information and to promptly update the information you provide to us when it changes. You may not: (i) enter, select or use a false name or an email address owned or controlled by another person with the intent to impersonate that person, or, (ii) use a name without appropriate authorisation. We reserve the right to refuse registration of, suspend or cancel a Customer or a Customer identification name without notice to you, or to test the veracity of information provided by you or any other user at any time.
			   </li>
   	   	  <li>
		You shall be responsible for maintaining the confidentiality of your password and are fully responsible for all activities that occur under your user name and password.
   	
   	  </li>
	  <li>
		    If you choose or you are provided with a password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable, suspend or restrict any user identification name or password, whether chosen by you or allocated by us, at any time, at our discretion, including if, in our opinion, you have failed to comply with any of the provisions of this Agreement.
		</li>
		<li>
			You must (a) immediately notify us of any unauthorised use of your user identification name, your account or password or any other breach of security related to Webauto.ee, and; (b) ensure that you exit from your Webauto.ee account at the end of each session. We cannot and will not be liable for any loss or damage arising from your failure to comply with this section.
		</li>
		<li>
			If you forget or loose your password, you should request a new password from us by visiting the "Forgot your password?" section in the login area of Webauto.ee.
		</li>
		   </li>
	   	</ol>
	</li>
	<li><strong>ACCESSING OUR WEBSITE AND CONTENT</strong>
 	   	<ol>
 	   	  <li>
		You may use Webauto.ee to write, create, upload, share, change, edit and browse Advertisements, interact with other users and with us on Webauto.ee, including by exchanging messages with other users and us, submitting feedback in relation to the Webauto.ee and our services, posting comments, participating in surveys, web polls and  any other activity that results in the creation, ranking, rating, classification, categorisation and evaluation of material made available on Webauto.ee, including, by creating, importing, uploading or editing data, text, photographs, graphics and other materials (<strong>"Content"</strong>). 
		   </li>
		   <li>
			   As a Customer you may use Webauto.ee to submit Advertisements and other Content to us to be posted on Webauto.ee. No agreement to publish an Advertisement will be deemed to exist between you and us until the Advertisement has been accepted for publication by us on Webauto.ee and, even then, we may manage, edit and/or remove the Advertisement when exercising the rights set out in this Agreement.
		   </li>
		   <li>As an unregistered user you may use Webauto.ee to:
	    	   	<ul>
	    	   	  <li>search for Content on Webauto.ee, including for Advertisements;
	   		   </li>
	    	   	  <li>use the information provided on Webauto.ee to contact Advertisers in relation to Content on Webauto.ee for the purposes for which that Content is published on Webauto.ee only; and
	   		   </li>
			   <li>email enquiries to Advertisers about their Advertisements through Webauto.ee.</li>
	   	   	</ul>
		</li>
		<li>We do not control the Content posted by third parties, including by users of Webauto.ee. We do not guarantee or give any assurances to you or other users regarding the accuracy, integrity or quality of such Content. You understand that by using Webauto.ee, you may be exposed to Content that is inaccurate, unlawful, offensive, indecent or objectionable.  You understand that we cannot guarantee the identity of any user with whom/which you may interact when using Webauto.ee.
		</li>
		<li>You should not rely on any Content and/or other material on Webauto.ee to make (or refrain from making) any decision or to take (or refrain from taking) any action on which reliance should be placed.  We disclaim all liability and responsibility arising from any reliance placed on such Content and/or materials by any user of Webauto.ee, or by anyone who may be informed of any of the Content (including the authenticity or accuracy of photographs of Vehicles). We accept no responsibility for keeping the information on Webauto.ee up to date or complete, or liability for any failure to do so.
		</li>
		<li>You are responsible for complying with all laws applicable to your use of Webauto.ee, including any Content that you submit to Webauto.ee or uploaded using your Webauto.ee account.
		</li>
		<li>We may refuse to publish any Content or to provide any services provided by Webauto.ee without prior notice to any user(s) for any reason or no reason.
		</li>
		<li>We have no obligation to monitor or moderate any user's activity or use of Webauto.ee, including the Content on it. However we retain the right at all times to monitor, retain and disclose any information on or use of Webauto.ee, including as may be necessary to satisfy any applicable law, regulation, legal process or regulatory authority request. Without any admission of liability, we may from time to time assess any possible risks for users from third parties when they use Webauto.ee, and we may decide in each case whether it is appropriate to use monitoring or moderation of the relevant service or Content (including what kind of monitoring or moderation to use) in the light of those risks. We expressly exclude our liability for any loss or damage arising from the use of Webauto.ee by any user in breach of this Agreement, whether Webauto.ee is moderated, monitored or not.
		</li>
		<li>We do encourage you to report any Advertisement that you consider unsatisfactory via 'Report' button, which we have placed on each Advertisement page of Webauto.ee. This allows you to report any Content that is in breach of this Agreement or in any other way objectionable. 
		</li>
		<li>You are responsible for making all arrangements necessary for you to have access to Webauto.ee. You are also responsible for ensuring that all persons who access Webauto.ee through your internet connection are aware of these terms, and that they comply with them.
		</li>
	   	</ol>
	</li>
     	 
	
	
	  <li><strong>RESTRICTIONS ON YOUR RIGHT TO USE WEBAUTO.EE</strong>
   	<ol>
   	  <li>
	  You agree that you shall not (and you agree not to allow any third party to):
     	<ul>
     	  <li>
			  modify, adapt, translate, or reverse engineer any portion of Webauto.ee;
		  	</li>
			<li>remove any copyright, trade mark or other proprietary rights notices contained on Webauto.ee, or on any Content or other material obtained via Webauto.ee;
			</li>
			<li>use any robot, spider, website search/retrieval application, or other automated device, process or means to access, retrieve or index any portion of the Content on Webauto.ee;
			</li>
			<li>access, screen-scrape, retrieve or index any portion of Webauto.ee for purposes of constructing or populating a searchable database of Advertisements, information and other content other than on Webauto.ee itself;
			</li>
			<li>collect any information about other users (including user identification names, telephone numbers and/or email addresses) for any purpose other than to respond to and make enquiries about Advertisements on Webauto.ee;
			</li>
			<li>reformat or frame any portion of the web pages or any Content that are part of Webauto.ee;
			</li>
			<li>create a Customer account by automated means or under false or fraudulent pretences or create multiple Customer account logins;
			</li>
			<li>transmit any viruses, worms, defects, Trojan horses or other items of a destructive nature to users on Webauto.ee;
			</li>
			
			<li>use Webauto.ee to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material including that deemed threatening or obscene;</li>
			<li>copy or store any Content offered on Webauto.ee for other than your own use as permitted by this Agreement;</li>
			<li>take any action that imposes, or may impose in our sole opinion, an unreasonable or disproportionately large load on our IT infrastructure;</li>
			<li>use Webauto.ee, intentionally or unintentionally, to breach any applicable law;</li>
			<li>collect or store personal data about other users in connection with the prohibited activities described in this section 5;</li>
			<li>engage in, or promote, any spamming or direct marketing using Webauto.ee;</li>
			<li>create or transmit unwanted electronic communications such as surveys, contests, pyramid schemes, chain letters, unsolicited emails, SMSs, automated calls or "spam" to  other users, or otherwise interfere with users’ enjoyment of Webauto.ee;</li>
			<li>use Webauto.ee for advertising, marketing, charitable, campaigning, for public relations or commercial or political purposes of any kind, except as specifically provided for in this Agreement;</li>
			<li>make any attempt to access, amend or upload Content on any other Webauto.ee account other than your own;</li>
			<li>access any unauthorised areas of Webauto.ee;</li>
			<li>impersonate any person or entity; or</li>
			<li>upload, post, email, transmit or otherwise make available using Webauto.ee any Content or other material that you do not have a right to make available under any law or contractual obligation, which includes making available material which breaches a third party’s intellectual property rights.</li>
			
			
		     	</ul>
			  
	</li>
   	</ol>
</li>
	<li><strong>CONTENT PUBLISHING STANDARDS AND YOUR REPONSIBILITIES</strong>
	<ol>
		<li>
	These provisions apply to any and all Content which you upload, submit, publish or display to Webauto.ee, that you transmit to other users using Webauto.ee (including Content on Webauto.ee) or that is uploaded using your Webauto.ee account, and to any services associated with that Content (<strong>"Your Content"</strong>).
	</li>
	<li>You are solely responsible for Your Content. You understand that all information publicly posted or privately transmitted through Webauto.ee is the sole responsibility of the person from which such Content originated and the relevant account holder and you will ensure that your Content is accurate.
	</li>
	<li>As a Customer you warrant to us that you have the right to offer for sale each Vehicle that is submitted to Webauto.ee using your Webauto.ee account, on the terms and conditions advertised in any Advertisement and that you will not offer for sale that Vehicle, on behalf of an undisclosed third party.
	</li>
	<li>You agree that we may review, refuse, edit, delete or require to be amended, any of Your Content at our discretion, including where we have determined that (i) there has been or may be a breach of this Agreement, (ii) Your Content does or might infringe a third party right; (iii) Your Content does or might bring our business into dispute or conflict, (iv) Your Content does or might be required to respond to a complaint or legal action or (v) to correct typographical errors or technical inaccuracies that may appear in Your Content from time to time. If we determine that a breach of this Agreement has occurred, we may take such action as we deem appropriate.
	</li>
	<li>The following set of warranties is a partial list of the criteria that you must ensure that Your Content shall comply with. You warrant that Your Content:
		<ul>
			<li>
				is accurate, true and complete (including where it states facts or contains photographs);
			</li>
			<li>does not deceive or mislead any person;
			</li>
			<li>is genuinely held, and capable of verification (where it states an opinion);</li>
			<li>complies with applicable law.</li>
		</ul>
		
	</li>
   	</ol>
</li>
<li><strong>SUSPENSION AND TERMINATION</strong>
	<ol>
		<li>You agree that we may, with or without cause, immediately suspend or terminate your Customer account and access to Webauto.ee without prior notice at our sole discretion. You agree that we shall not be liable to you nor any third party for any suspension or termination of your account or of access to Webauto.ee.
		</li>
		<li>Without limiting the foregoing, the following may lead to a termination or suspension by us of a Customer’s account or a user’s use of Webauto.ee: (a) a breach of this Agreement, (b) a request by law enforcement authorities, police, other government agencies or regulatory authorities in respect of your account; (c) a request by you in writing to us (self-initiated account deletions); (d) unexpected technical issues or problems experienced by us; and (e) extended periods of inactivity in respect of your account.
		</li>
		<li>Termination of your account includes removal of access to services provided by Webauto.ee through that account, all Content that we may determine at our discretion and we may also bar you from further use of Webauto.ee, including future registrations of any account.
		</li>
		<li>If we, in our discretion, determine that you have failed to comply with this Agreement, we may take all, or any, of the following actions with, or without, notice to you:
		<ul>
			<li>
				terminate, withdraw or suspend your right to use Webauto.ee, the account or any particular service;
			</li>
			<li>remove any Content on Webauto.ee;</li>
			<li>issue a public (via Webauto.ee) or private warning to you;</li>
			<li>take legal action against you; and/or</li>
			<li>disclosure of such information to law enforcement authorities or regulatory authorities as we feel is necessary.</li>
		</ul>
		</li>
	</ol>
	
	
	  </li>
	  
	  <li><strong>COMPLAINTS AND REPORTS</strong>
	  
	  <ol>
		  <li>
			  If you believe that Content posted on Webauto.ee breaches this Agreement or is in any other way objectionable, please notify us through “Report”, give the full details of such Content and specify the reasons for your objections.  If you do not provide us with sufficient information we may be unable to process your complaint. We reserve the right to investigate all aspects of any complaint or enquiry and we will determine, in our discretion, what action (if any) to take. You are solely responsible for your interactions with other Advertisers and users of Webauto.ee. While we reserve the right to monitor or to intervene in disputes between you and other Advertisers and users in relation Webauto.ee, we have no obligation to do so.
		  </li>
		  <li>If you are dissatisfied with Webauto.ee or any of our acts or omissions, your sole and exclusive remedy is to terminate your use of Webauto.ee, and, if you are a Trade Advertiser or Private Advertiser by closing your account simply by removing your Advertisements from the Webauto.ee. To remove your Advertisement(s) from the Webauto.ee login to 'My adverts', click 'Actions' button and select 'Remove or mark as sold'.
		  </li>
	  </ol>
	  
	  
	  </li>
	  <li><strong>OUR LIABILITY</strong>
	  <ol>
		  <li>To the extent permitted by law, your use and access to and of the Content and Webauto.ee are provided by us under this Agreement without any guarantees, conditions or warranties as to their accuracy.
		  </li>
		  <li>To the extent permitted by law, we expressly exclude:
		  <ul><li>
			  all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity; and
		  </li>
	  <li>
		  any liability for any direct, indirect or consequential loss or damage including any liability for loss of income or revenue, loss of business, loss of profits or contracts, loss of anticipated savings, loss of data, loss of goodwill, wasted management or office time and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable in connection with this Agreement.
	  </li>
	  </ul>
		  
		  </li>
		  <li>
			  We shall not be liable for any failure to perform any of our obligations under this Agreement caused by matters beyond our reasonable control. Under no circumstances will we be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of, access to, or denial of access to any Content on Webauto.ee.
		  </li>
		  <li>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses, malicious or impairing computer programs or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of Webauto.ee or to your downloading of any material posted on it, or on any website linked to it.
		  </li>
		  <li>
			  We do not guarantee the security of the online services or any systems connected with the use of Webauto.ee (including the internet and your hardware and software) used in accessing the services, or any information passed through such systems. We do not guarantee access to Webauto.ee or any systems used in accessing our services will be continuous or virus or error free.
		  </li>
		  <li>Any material downloaded, or otherwise obtained through the use of Webauto.ee is done at your own discretion and risk, and you will be solely responsible for any damage to your computer system, or loss of data, that results from the download of any such material. No advice or information, whether oral or written, obtained by you from us, or through, or from Webauto.ee, shall create any warranty not expressly stated in this Agreement.
		  </li>
		  <li>We will need to carry out maintenance work on our equipment and systems, and shall use reasonable endeavours to ensure that, in doing so, minimum disruption is caused. Advertisers acknowledge that we cannot guarantee that the Advertisement will be continuously available on Webauto.ee.
		  </li>
	  </ol>
	  
	  </li>
	  <li><strong>YOUR LIABILITY AND YOUR INDEMNITY</strong>
	  <ol><li>
		  You agree to indemnify and hold us harmless, including costs and legal fees, from any claim or demand made by any third party due to or arising out of (i) your access to and use of Webauto.ee; (ii) the breach of this Agreement by you or any third party using your account, email or password.
	  </li>
  </ol>
	  
	  </li>
	  <li><strong>CUSTOMER ACCOUNTS</strong>
	  <ol>
		  <li>
			  Customers seeking to advertise Vehicles through Webauto.ee shall comply with the following obligations when creating the related Advertisement or other Content:
			  <ol>
				  <li>Only one Vehicle may be listed in each Advertisement.
						
				  </li>
				  <li>You can make unlimited changes to your Advertisement on Webauto.ee provided that the Content continues to comply with this Agreement. Simply login to your account on Webauto.ee and 'My adverts' page, click 'Actions' and select 'Edit'. 
						 
				  </li>
				  <li>To remove your Advertisement from the Advertisements that are visible to users of Webauto.ee login to 'My adverts', click 'Actions' and select 'Remove or mark as sold'.
						 
				  </li>
			  </ol>
		  </li>
	  </ol>
	  
	  </li>
	  <li><strong>LINKING TO OUR WEBSITE</strong>
	  <ol>
		  <li>You are not permitted to link any other website to Webauto.ee without first obtaining our prior written consent. If we give you consent we may choose to require you to accept terms and conditions as a condition of granting this permission. You must not establish a link to Webauto.ee from any website that is not owned by you unless we expressly agree in writing that you can do so. You must not create a link to any part of Webauto.ee other than the homepage.
		  </li>
		  <li>We reserve the right to withdraw any linking permission given to you with or without notice. You must not frame Webauto.ee on any other website without first obtaining our prior written consent. If we give you consent we may choose to require you to accept terms and conditions as a condition of granting this permission.
		  </li>
		  <li>If you wish to create a link or to make any use of Content or other material on Webauto, then please address your request to support@webauto.ee.
		  </li>
	  </ol>
	  
	  </li>
	  <li><strong>LINKS FROM OUR WEBSITE</strong>
	  <ol><li>
	  Where Webauto.ee contains links to other websites and resources provided by our partners or other third parties, these links are provided for your information only.  We have no control over the content of those websites or resources, and accept no responsibility or liability for them or for any loss or damage that may arise from your use of them.  If you link to any such websites then you acknowledge that you leave Webauto.ee and do so entirely at your own risk.
  </li></ol>
	  </li>
	  <li><strong>CONTACT FROM US</strong>
	   <ol><li>
		   In the course of providing you services or in respect of your use of webauto.ee, we may need to communicate with you via email or the other details that you have submitted to us. You agree to receive emails which are specific to your account and necessary for the normal functioning of Webauto.ee, including emails which help inform Advertisers and users about functionality of Webauto.ee. You also accept and understand the terms of our Privacy Policy.
		  </li></ol>  
	  </li>
	  <li><strong>VARIATIONS</strong>
	   <ol><li>
		   We may revise this Agreement at any time by amending the pages upon which they appear on Webauto.ee, without giving notice of such modifications.  Such modifications become effective immediately upon posting of the modified terms on Webauto.ee. You agree to review the Agreement periodically, so that you are aware of any modifications. Your continued use of Webauto.ee after any modifications indicates your acceptance of the modified Agreement.
	  </li></ol>
	  </li>
	  <li><strong>SUBMISSIONS</strong>
	  <ol><li>
		  You acknowledge and agree that any questions, comments, suggestions, ideas, feedback and other information about Webauto.ee provided by you to us are non-confidential and may be used by us at our discretion.
		   </li></ol>
	  </li>
	 
 	</ol>
      <p><small>Version 1 (January 2016)</small></p>
  </div>
</div>