<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

</head>
<body bgcolor="#FFFFFF" style="-webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; margin:0; padding:0">
<!-- wrapper -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper">
	<tbody>
    
    <tr>
		<td>
			<!-- maintable -->
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="630" id="maintable">
			<tbody>
				<tr>
				<td id="hosted" bgcolor="#ffffff" height="30" valign="middle" align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666;"><a class="not-displaying" href="" target="_blank" style="color:#666666;"><span style="text-decoration:none !important; color:#666666;">Message not displaying?</span> Click here</a></td>
		  </tr>
			<tr>
				<td height="1" style="line-height:1px; height:1px; font-size:1px; background:#f1f1f1; mso-line-height-rule:exactly;" bgcolor="#f1f1f1">&nbsp;</td>
			</tr>
			<tr>
				<td align="center">
					<!-- table 4 -->
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td valign="top">
						<!-- table 5 -->
						<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
					<tr>
					  <td align="left" height="15">
						  <!-- table 6 -->
						  <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0">
					    <tbody>
					      <tr>
					        <td>
								<!-- table 7 -->
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
					          <tbody>
					            <tr>
					              <td width="46%" class="block">
									  <!-- table 8 -->
									  <table width="100%" border="0" cellspacing="0" cellpadding="0">
					                <tbody>
  			  					      <tr>
  			  					        <td height="20">&nbsp;</td>
  			  					        </tr>
					                  <tr>
					                    <td style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#222222; line-height:24px">Dear Sergei,</td>
					                    </tr>
			  					      <tr>
			  					        <td height="20">&nbsp;</td>
			  					        </tr>
					                  <tr>
					                    <td style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#222222; line-height:24px">We've found these new adverts matching your search. Good cars sell quickly, so check them now if you're looking to buy. To view the searches, click on the 'run search' button. You can edit or cancel your saved searches by visiting <a style="font-family:Helvetica, Arial, sans-serif; color:#1f68bc" color="#1f68bc" href="http://localhost:3000/en/searches"><span style="color:#1f68bc">saved searches</span></a>.</td>
					                    </tr>
					                  </tbody>
					                </table>
								<!-- table 8 -->
							</td>
					              </tr>
					            </tbody>
					          </table>
						  <!-- table 7 -->
					  </td>
					        </tr>
					     
					    
					    
					       
					      </tbody>
					    </table>
					<!-- table 6 -->
				</td>
					  </tr>
					</tbody></table>
					<!-- table 5 -->
                    </td>

                  </tr>
                </tbody></table>		
			<!-- table 4 -->
				</td>
			</tr>
									
			<tr>
			  <td height="1" style="line-height:1px; height:1px; font-size:1px; background:#f1f1f1; mso-line-height-rule:exactly;" bgcolor="#f1f1f1">&nbsp;</td>
			  </tr>
			<tr>
			  <td>&nbsp;</td>
			  </tr>
		
			<tr>
			  <td height="30" class="hide"></td>
			  </tr>
			<tr>
			  <td>
				<!-- table 1 -->
				  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			      <td width="50%" valign="top" class="block">
					    <!-- table 3 -->
						<table class="center" width="100%" border="0" cellspacing="0" cellpadding="0">
			        <tr>
			          <td valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; color:#272727; line-height:16px">&copy; 2016 Webauto.ee.</td>
			          </tr>
			        <tr>
			          <td valign="top">&nbsp;</td>
			          </tr>
			        <tr>
			          <td valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; color:#272727; line-height:16px">You received this email because you are a registered user and have activated an alert with Webauto.ee.
If you no longer want to receive these emails, please switch off your alerts <a href="http://localhost:3000/en/searches">here</a>. </td>
			          </tr>
			        <tr>
			          <td valign="top">&nbsp;</td>
			          </tr>
			      
			        </table>
					<!-- table 3 -->
				</td>
			      <td width="50%" valign="top" class="block">
					  <!-- table 2 -->
					  <table class="center" width="100%" border="0" cellspacing="0" cellpadding="0">
			        <tr>
			          <td align="right" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; color:#272727; line-height:16px">We sent this email to sergeit6@gmail.com</td>
			          </tr>
			        <tr>
			          <td align="right" valign="top">&nbsp;</td>
			          </tr>
			        <tr>
			          <td align="right" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; color:#272727; line-height:16px"></td>
			          </tr>
			        <tr>
			          <td align="right" valign="top">&nbsp;</td>
			          </tr>

			        </table>
				<!-- table 2 -->
			</td>
			      </tr>
			    </table>
				  <!-- table 1 -->
			</td>
			  </tr>
			<tr>
			  <td>&nbsp;</td>
			  </tr>
		  </tbody>
	  </table>
	  <!-- maintable -->
  </td>
	</tr>
</tbody></table>
<!-- wrapper -->
</body>
</html>
