      <div class="thumbnail">          
      <div class="garage_item_image image">
        <% if photo.new_record? %>
   <%= image_tag "/thumbnail.png",size: "300x200" %>
     
     
    <% else %>
	
    <%= image_tag(photo.image.url(:thumb))%>
    
    <% end %>
  	<% if vehicle.advert %>
      <figcaption class="info">
          <strong><%= t("garage_items.index.for_sale") %></strong>
      </figcaption>
  	 <% end %>
	   
  </div>
    </div>
