<div class="row-fluid">
  <div class="refine_search span3 well well-small">
    <h4>Search for bikes</h4>
    <%= render 'vehicles/partials/tools_search'%>
    <div class="sidebar-nav">
      <%= render 'bikes/partials/search_form' %>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span9">
    <div id="logo" class="hero-unit hidden-phone">
    </div>
    <%= render 'vehicles/partials/indexTabs' %>
  </div><!--/span-->
</div><!--/row-->