<!-- Modal -->
<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactModalLabel">Email to Seller</h3>
  </div>
  <div class="modal-body">
    <h4><%= "#{@make_name} #{@model_name} #{@vehicle.engine_size} #{@vehicle.engine_power} kW #{@vehicle.transmission}" if @vehicle.make %>
      <small>
        <%= "#{@vehicle.badge}" %>
      </small></h4>
    <div class="contact-modal-message"></div>
    <%= render partial: "inquiries/form",locals: {mode: "inquiry"} %>
  </div>
  <div class="modal-footer">
    <div class="preloader"></div>
    <button class="send_enquiry_btn btn btn-info">Send</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>