<div class="progress progress-success" style="width: 100px; margin-right:10px;"><div class="bar" style="width: <%= percent(@pictures.count,@max_pictures) %>%;"></div></div><small><strong class="text-info"><%= "#{@pictures.count} of #{@max_pictures}" %></strong>
  available photos</small>