<% first=@photos.first %>
<div class="row-fluid" >
  <div class="span12">
    <% if first %>
      <%= link_to image_tag(first.image.url(:small)), first.image.url, :data => {:gallery => 'gallery'}, :title => t("vehicles.show.images")+t("vehicles.show.a_of_b",:a=>"1",:b=>@photos.size.to_s), :class=>"thumbnail" %>
    <% else %>
      <%= image_tag "/thumbnail_big.png", :class=>"thumbnail" %>
    <% end %>
  </div>
</div>

<div class="hidden-phone">

<% if @photos.size>1 %>
 
          <% index=-1 %>
          <% @photos.each_with_index do |picture,pos| %>
            <% if picture!=first %>
              <% index +=1%>
              <%  if index==3 %>
                <% index=index-3 %>
              <% end %>
              <% if index==0 %>
      <div class="row-fluid" style="margin-top:5px;">
                <% end %>
              <div class="span4">
                  <%= link_to image_tag(picture.image.url(:thumb)), picture.image.url, :data => {:gallery => 'gallery'}, :title =>  t("vehicles.show.images")+t("vehicles.show.a_of_b",:a=>(pos+1).to_s,:b=>@photos.size.to_s), :class=>"thumbnail" %>
                </div>
                <% if index==2 || picture==@photos.last%>
                  </div>
                  <% end %>
                <% end %>
              <% end %>
      
    <% end %>

</div>
 

 

