<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
     <div class="progress progress-success progress-striped active">
    <div class="bar" id="upload_bar" style="width: 0%;"></div>
  </div>
  </div>
</script>