 
 <% if vehicles %>
 <div class="row-fluid">

<% vehicles.take(6).each do |vehicle| %>
         <div class="span2 thumbnail"  style="margin-bottom:10px;">
        <%= render 'vehicles/partials/vehicle',:vehicle=>vehicle,:version=>version %>
      </div>    
  <% end %>
  
  </div> 
   
  
			 
  <% else %>
  <small><%= t("vehicles.show.nothing")%></small>
      <% end %>