

<% if photo %>
  <li id="pic_<%= photo.id %>" class="ui-state-default">

    <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :data => {:gallery => 'gallery'},:class=>"thumbnail" %>
    <% if action_name!="show" %>
      <div class="actions">
     
          <%= link_to t("adverts.photos.remove"), photo, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' },:class=>"remove_image_link",:remote=>true %>
      </div>
    <% end %>
  </li>
<% end %>
