<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
     <h2>Contact us</h2>
    
    </div>

 <h3> Thank you for your message.</h3>

  <p>
    We'll get back to you as soon as possible.
</p>

    </div>
    </div>